


/* .carousel-container{
  position: relative;
  width: 80vw;
  margin: 0 auto;
  padding: 0;
  align-items: center;
}

.carousel-slide{
  width: 100%;
  transition: .5s;
}

.carousel-slide img{
  width: 100%;
  position: absolute;
  top: 0;
}


#goLeft{
  position: absolute;
  left: 0;
  height: 50px;
  width: 50px;
}

#goRight{
  position: absolute;
  right: 0;
  height: 50px;
  width: 50px;
} */